FLOWISE_API_URL=https://cloud.flowiseai.com
FLOWISE_API_KEY=17kSklwR1zm84m_C0_NuUCt4QpLfRvy_SDQylQjNZvA
FLOWISE_CHATFLOW_ID=2aa7d3b7-7044-496c-8250-dae18d1daf23
FLOWISE_BASE_URL=https://cloud.flowise.ai
GITHUB_PROFILE_URL=https://github.com/FitzFitzFitz69
PORT=5000
